<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top:20px;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../../assets/user.png" alt="SignUp" class="logo-signup">

                    <h3 class="text-center">Registrate aqui</h3>

                    <form action="">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Seu nome</mat-label>
                            <input matInput placeholder="Digite seu nome">
                        </mat-form-field>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>